# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
indent_style = space #utiliza espaço como identação
indent_size = 2 #2 espaçoa
end_of_line = lf #lf final de linha
charset = utf-8
trim_trailing_whitespace =  = true #Remover o witespace do final de linha e arquivo
insert_final_newline = true #inserir uma linha no final
